/* Globales */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}

  
  .raleway-light {
    font-weight: 300;
  }
  
  .raleway-medium {
    font-weight: 500;
  }

h1 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

h3 {
    font-weight: 300;
    margin-top: 1rem;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}


/* Header */

header img {
    width: 100%;
}


/* Description Section */
  
.desc-section {
    height: 350px;
    background-color: #000000;
}

.desc-section article {
    text-align: center;
    margin: auto;
}

.desc-section p {
    width: 475px;
    display: inline-block;
    margin-right: 100px;
    text-align: left;
}

.desc-section img {
    width: 400px;
    height: 237px;
    margin-top: 45px;
    display: inline-block;
}

.icons-section {
    height: 350px;
    background-color: #1e1a13;
}


/* Icon Section */

.icons-section {
    height: 350px;
    text-align: center;
}

.icons-section article {
    margin-top: 75px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.wrapper-icons {
    margin-top: 50px;
}

.wrapper-icons div {
    display: inline-block;
    margin: 0 70px;
}


.fa-eye {
    font-size: 37px;
}

.fa-hand-peace {
    font-size: 39px;
}

.fa-paintbrush {
    font-size: 41px;
}

/* Galeria */

.gallery {
    height: 350px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.gallery img {
    width: 316px;
    height: 202px;
    margin: 73px 8px;
}

/* Footer */

footer {
    text-align: center;
    height: 100px;
    background-color: #1e1a13;
}

footer a {
    display: inline-block;
    margin: 39px auto;
    font-size: 20px;
}